*.24_ filter=lfs diff=lfs merge=lfs -text
*.22_ filter=lfs diff=lfs merge=lfs -text
*.ubx filter=lfs diff=lfs merge=lfs -text
*.uc2 filter=lfs diff=lfs merge=lfs -text
*.zip filter=lfs diff=lfs merge=lfs -text
*.pgm filter=lfs diff=lfs merge=lfs -text
*.glab filter=lfs diff=lfs merge=lfs -text
*.out filter=lfs diff=lfs merge=lfs -text
