annotated-types==0.7.0
argcomplete==3.4.0
numpy==2.0.0
pandas==2.2.2
polars==0.20.31
pydantic==2.7.4
pydantic_core==2.18.4
python-dateutil==2.9.0.post0
pytz==2024.1
six==1.16.0
termcolor==2.4.0
tqdm==4.66.4
typing_extensions==4.12.2
tzdata==2024.1
utm==0.7.0
